.App {
  text-align: center;
}

/*Единый стиль для кнопки "Купить билеты"*/

.buy_btn {
  outline: none;
  background-color: #fdb95b;
  display: inline-block;
  padding: 16px 35px;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  border-radius: 40px;
  border: none;
  position: relative;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.buy_btn:hover {
  background-color: #fcc579;
}

/*Единый стиль для кнопки "Подробнее"*/

.more_btn {
  background-color: #ffffff;
  color: #2f2f2f;
  border: 1px solid #fdb95b;
  padding: 16px 35px;
  font-size: 1rem;
  line-height: 1;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}

.more_btn:hover {
  color: #ffffff;
  background-color: #fcc579;
}

/*Единый стиль для заголовков*/
h2 {
  font-size: 3.75rem;
  font-weight: 200;
}

h3 {
  color: #a97c3d;
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 300;
}

/* Единый стиль для ссылок */

a {
  text-decoration: none;
  color: #2f2f2f;
}
a:hover {
  color: #acacac;
}
